.crud-table {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.crud-table .crud-table-header {
  background-color: #ffffff;
  padding: 14px 12px 0 12px;
  box-sizing: border-box;
}

.crud-table .crud-table-header .el-form--inline .el-form-item {
  margin-right: 14px;
  margin-bottom: 14px;
}

.crud-table .crud-table-header .crud-table-action {
  display: inline-block;
  margin-bottom: 14px;
}

.crud-table .crud-table-header--inline .el-form {
  display: inline-flex;
  flex-wrap: wrap;
}

.crud-table .crud-table-footer {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 2px 0;
  box-sizing: border-box;
}

.crud-table .el-table .el-table__cell{
  z-index: inherit;
}